@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: aqua;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--orange);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--orange);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .logo i{
    color:var(--orange);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 40rem;
    height: 8rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .search-form.active {
    right: 2rem;
}   

.header .search-form:not(.active) {
    opacity: 0; 
    transition: opacity 0.4s ease;
}

.header .search-form input {
    height: 100%;
    width: calc(100% - 3rem); 
    background: none;
    border: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 2rem;
    outline: none;
}

.header .search-form label {
    font-size: 2.2rem;
    color: var(--black);
    cursor: pointer;
    padding: 0 1.5rem; 
}

.header .search-form label:hover {
    color: var(--orange);
}

.login-form {
    display: none;
    position: absolute;
    top: 300%;
    left: 87%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%; 
}

.login-form.active {
    display: block;
}

.login-form h3 {
    margin: 0 0 20px;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box; 
}

.login-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.login-form p {
    margin: 10px 0;
    font-size: 0.9rem;
    text-align: center;
}

.login-form a {
    color: #007bff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.home {
    display: flex;
    align-items: justify;
    padding: justify;
    justify-content: left;
    position: relative;
    background: url(../image/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 18rem;
    padding-bottom: 10rem;
}

.circle-container {
    position: absolute;
    top: 55%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.profile-picture {
    width: 400px; 
    height: 400px; 
    border-radius: 100%; 
    object-fit: cover; 
    border: 10px solid #fff; 
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:var(--black);
    font-size: 3rem;
}

.home .content h3 span{
    color:var(--orange);
}

.home .content h4 {
    font-size: 5rem;
    color: black; 
    font-family: 'Georgia', serif; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    line-height: 2; 
    margin-bottom: 2rem; 
}

.home .content h5 {
    font-size: 2rem;
    color: red; 
    font-family: 'Georgia', serif; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    line-height: 0; 
    margin-bottom: 1rem;
}

.home .content p{
    color:var(--light-color);
    font-size: 1.7rem;
    padding:3rem 0;
    line-height: 2;
}

.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.about .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease; 
}

.about .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
    transform: translateY(-5px); 
}

.about .box-container .box img {
    margin: 1rem auto; 
    display: block; 
    border-radius: 20%; 
    height: 300px; 
    object-fit: cover; 
}

.about .box-container .box h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 50px;
}

.about .box-container .box p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}

#downloadCVBtn {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 20px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
}

#downloadCVBtn:hover {
    background-color: red;
}

.projects {
    text-align: center;
    padding: 50px 0;
}

.heading {
    font-size: 2rem;
    margin-bottom: 30px;
}

.project-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-slider .box {
    width: calc(25% - 40px); 
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-slider .box:hover {
    transform: translateY(-5px);
}

.project-slider .box img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.project-slider .box h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.project-slider .box .btn {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-slider .box .btn:hover {
    background-color: #0056b3;
}

.contact {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.box-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #ff7800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input,
textarea,
button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #28a745;
}

.success-message {
    display: none;
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.success-message.show {
    display: block;
}

.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .username{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--orange);
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }
}

.logo-container {
    display: flex;
    align-items: center; 
}

.name {
    margin-left: -20px; 
}